@media(max-width: 1400px) {}

@media(max-width: 1100px) {}

@media(max-width: 768px) {
    h1{
        font-size: 60px;
        padding: 120px 0 18px;
    }
    .ul__list{
        justify-content: center;
    }
}

@media(max-width: 680px) {
    .nav__navigation{
        flex-direction: column;
    }
    .nav__img{
        padding-top: 20px;
    }
    .nav__navigation-mini{
        padding-top: 20px;
    }
    h1{
        font-size: 50px;
        padding: 120px 0 18px;
    }
    .header__link{
        flex-direction: column;
        row-gap: 20px;
    }
    .header__link2{
        margin-bottom: 20px;
    }
    .header{
        height: 100%;
    }
    .header__link1{
        padding: 15px 70px;
        background: rgba(105, 207, 23, 0.5);    
        font-size: 40px;
    }
}

@media(max-width: 576px) {
    h1{
        font-size: 40px;
    }
}

@media(max-width: 470px) {
    .header__link1{
        padding: 25px 60px;
        font-size: 34px;
    }
    .header__link2{
        padding: 15px 55px;
    }
    
    .nav__list_0{
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }
    .uls{
        flex-direction: column;
        text-align: center;
    }
    h3{
        font-size: 30px;
    }
    h1{
        padding: 60px 0 18px;
    }
    .header__text{
        font-size: 14px;
    }
    .ul__list{
        display: none;
    }
    .block__p{
        font-size: 30px;
    }
    .footer__box{
        flex-direction: column;
        row-gap: 20px;
    }
    .main__content-text{
        font-size: 14px;
    }
    .divb{
        padding: 19px 10px;
    }
}

@media(max-width: 400px) {
    h1{
        font-size: 25px;
    }
}

@media(max-width: 320px) {}